In [2]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [3]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [4]:
a = [1,2,3]
a.extend([4,5,6])
print(a)

[1, 2, 3, 4, 5, 6]

In [5]:
import pandas as pd
import numpy as np

In [6]:
data = {'Sport': ['Basketball', 'Football', 'Cricket'],
        'Age': [26, 26, 27]}

In [7]:
df = pd.DataFrame(data=data)

In [8]:
df

        Sport  Age
0  Basketball   26
1    Football   26
2     Cricket   27

In [9]:
df['Olympics'] = [1]*df.shape[0]

In [10]:
df.shape

(3, 3)

In [11]:
df

        Sport  Age  Olympics
0  Basketball   26         1
1    Football   26         1
2     Cricket   27         1

In [12]:
df['Data'] = np.ones(df.shape[0], dtype=int)

In [13]:
df

        Sport  Age  Olympics  Data
0  Basketball   26         1     1
1    Football   26         1     1
2     Cricket   27         1     1

In [14]:
np.ones?

In [22]:
jobs = pd.read_csv('./brighter_monday/brighter_monday_jobs.csv')

In [23]:
jobs

,title,organization,function,description,url
0,Writing and Document Management Consultancy,\nAgri Experience Ltd\n,\nConsulting & Strategy\n,\nAgri Experience seeks a high quality and exp...,https://www.brightermonday.co.ke/listings/writ...
1,Automotive Technician,\n Confidential\n,\nEngineering & Technology\n,\nApplications are invited from qualified pers...,https://www.brightermonday.co.ke/listings/auto...
2,Business Development Lead,\nAltima Africa Ltd\n,\n Management & Business Development\n,\nResponsible for the execution of the firm’s ...,https://www.brightermonday.co.ke/listings/busi...
3,Head Teacher,\nConfidential\n,"\nResearch, Teaching & Training\n",\nThe purpose of this position is to provide a...,https://www.brightermonday.co.ke/listings/head...
4,Primary School Teachers,\nConfidential\n,"\nResearch, Teaching & Training\n",\nPrimary School teachers create daily lesson ...,https://www.brightermonday.co.ke/listings/prim...
...,...,...,...,...,...
1065,ANTI-PIRACY AND SECURITY INVESTIGATOR,\nBrighterMonday Consulting\n,\nProduct & Project Management\n,\nThe role holder will be responsible for over...,https://www.brightermonday.co.ke/listings/anti...
1066,COMMERCIAL LEGALIZATION OFFICER,\nBrighterMonday Consulting\n,\nProduct & Project Management\n,\nThe role holder will be responsible for mana...,https://www.brightermonday.co.ke/listings/comm...
1067,Teachers,\nThe Visionary School\n,"\nResearch, Teaching & Training\n",\nApplications are invited from qualified pers...,https://www.brightermonday.co.ke/listings/teac...
1068,NaN,NaN,NaN,NaN,NaN
1069,NaN,NaN,NaN,NaN,NaN

In [24]:
jobs.isnull().sum()

title            98
organization     98
function         98
description     502
url              98
dtype: int64

In [25]:
1302-116

1186

In [95]:
vaccinations = pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv", error_bad_lines=False)

In [96]:
vaccinations.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

In [98]:
vaccinations['date'] = pd.to_datetime(vaccinations['date'])

In [99]:
idx_max = vaccinations.groupby(['location'])['date'].idxmax()

In [100]:
latest_vaccination_data = vaccinations.loc[idx_max].reset_index(drop=True)

In [101]:
latest_vaccination_data.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-04-22,240000.0,240000.0,NaN,NaN,8000.0,0.62,0.62,NaN,206.0
1,Africa,OWID_AFR,2021-04-27,17147135.0,12159279.0,4775479.0,133576.0,116583.0,1.28,0.91,0.36,87.0
2,Albania,ALB,2021-04-24,400064.0,NaN,NaN,8713.0,10746.0,13.90,NaN,NaN,3734.0
3,Algeria,DZA,2021-02-19,75000.0,NaN,NaN,NaN,3748.0,0.17,NaN,NaN,85.0
4,Andorra,AND,2021-04-19,26414.0,21733.0,4681.0,NaN,1050.0,34.19,28.13,6.06,13590.0

In [102]:
population_data_2020 = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/scripts/input/un/population_2020.csv')

In [103]:
population_data_2020.head()

           entity iso_code  year  population
0     Afghanistan      AFG  2020    38928341
1         Albania      ALB  2020     2877800
2         Algeria      DZA  2020    43851043
3  American Samoa      ASM  2020       55197
4         Andorra      AND  2020       77265

In [104]:
population_data_2020.shape

(248, 4)

In [105]:
vaccination_population = pd.merge(latest_vaccination_data, population_data_2020, how='left', left_on='location', right_on='entity')

In [106]:
vaccination_population

,location,iso_code_x,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,entity,iso_code_y,year,population
0,Afghanistan,AFG,2021-04-22,2.400000e+05,240000.0,NaN,NaN,8000.0,0.62,0.62,NaN,206.0,Afghanistan,AFG,2020.0,3.892834e+07
1,Africa,OWID_AFR,2021-04-27,1.714714e+07,12159279.0,4775479.0,133576.0,116583.0,1.28,0.91,0.36,87.0,Africa,OWID_AFR,2020.0,1.340598e+09
2,Albania,ALB,2021-04-24,4.000640e+05,NaN,NaN,8713.0,10746.0,13.90,NaN,NaN,3734.0,Albania,ALB,2020.0,2.877800e+06
3,Algeria,DZA,2021-02-19,7.500000e+04,NaN,NaN,NaN,3748.0,0.17,NaN,NaN,85.0,Algeria,DZA,2020.0,4.385104e+07
4,Andorra,AND,2021-04-19,2.641400e+04,21733.0,4681.0,NaN,1050.0,34.19,28.13,6.06,13590.0,Andorra,AND,2020.0,7.726500e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,Vietnam,VNM,2021-04-27,3.187920e+05,318792.0,NaN,59056.0,30266.0,0.33,0.33,NaN,311.0,Vietnam,VNM,2020.0,9.733858e+07
197,Wales,OWID_WLS,2021-04-26,2.486446e+06,1785347.0,701099.0,19537.0,25210.0,78.86,56.63,22.24,7996.0,NaN,NaN,NaN,NaN
198,World,OWID_WRL,2021-04-27,1.061180e+09,570626607.0,248367721.0,16479638.0,17543872.0,13.61,7.32,3.19,2251.0,World,OWID_WRL,2020.0,7.794799e+09
199,Zambia,ZMB,2021-04-25,1.401200e+04,14012.0,NaN,NaN,1814.0,0.08,0.08,NaN,99.0,Zambia,ZMB,2020.0,1.838396e+07
200,Zimbabwe,ZWE,2021-04-27,4.339390e+05,370676.0,63263.0,22329.0,15562.0,2.92,2.49,0.43,1047.0,Zimbabwe,ZWE,2020.0,1.486293e+07

In [107]:
vaccination_population.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 200
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   location                             201 non-null    object
 1   iso_code_x                           201 non-null    object
 2   date                                 201 non-null    datetime64[ns]
 3   total_vaccinations                   199 non-null    float64
 4   people_vaccinated                    189 non-null    float64
 5   people_fully_vaccinated              126 non-null    float64
 6   daily_vaccinations_raw               109 non-null    float64
 7   daily_vaccinations                   192 non-null    float64
 8   total_vaccinations_per_hundred       199 non-null    float64
 9   people_vaccinated_per_hundred        189 non-null    float64
 10  people_fully_vaccinated_per_hundred  126 non-null    float64
 11  daily_vaccinations_per_million       192 non-null    float64
 12  entity                               196 non-null    object
 13  iso_code_y                           196 non-null    object
 14  year                                 196 non-null    float64
 15  population                           196 non-null    float64
dtypes: datetime64[ns](1), float64(11), object(4)
memory usage: 26.7+ KB

In [108]:
vaccination_population['% population vaccinated'] = vaccination_population['people_vaccinated'] / vaccination_population['population'] * 100

In [122]:
top_3_countries = vaccination_population.sort_values(by='% population vaccinated', ascending=False)[['location', 'iso_code_x', 'date', 'people_vaccinated', 'population', '% population vaccinated']][:3]

In [123]:
top_3_countries

,location,iso_code_x,date,people_vaccinated,population,% population vaccinated
69,Gibraltar,GIB,2021-04-27,36724.0,33691.0,109.002404
60,Falkland Islands,FLK,2021-04-14,2632.0,3483.0,75.567040
161,Seychelles,SYC,2021-04-26,66583.0,98340.0,67.706935